{% extends "news/base.html" %} {% block content %}

<div class="row">
    <div class="col-6">
        <h3 class="text-centre"><a href="/bi">What we are?</a></h3>
        <p>New aggregator for selectable gategories in common IT-fields</p>
        <br>
        <h3 class="text-centre"><a href="/bi">Why we are?</a></h3>
        <p>We combine some the most quality news into the same place for you to avoid frustrating seeking and rampage in the endless swamp of news articles. This, you can relax and be sure that you are getting news with the best relevance among available
            ones in the field.
        </p>
        <br>
    </div>
    <div class="col-6">
        <img src="../../static/img/cryptography.jpg" alt="Cryptography image" class="img-fluid tm-media-img" />
    </div>
</div>

{% endblock content %}