{% extends "news/base.html" %}

{% block content %}
        
<div class="row">
    <div class="col-6">
        <img src="../../static/img/bi.jpg" alt="BI image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/bi">Business Inteligence</a></h3>
        <br>
    </div>
    <div class="col-6">
        <img src="../../static/img/prog.jpg" alt="Programming image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/prog">Programming</a></h3>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <img src="../../static/img/robotics.jpg" alt="Robotics image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/robotics">Robotics</a></h3>
        <br>
    </div>
    <div class="col-6">
        <img src="../../static/img/cryptography.jpg" alt="Cryptography image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/crypto">Cryptography</a></h3>
        <br>
    </div>   
</div>
{% endblock content %}         