{% extends "news/base.html" %}

{% block content %}
<h1 class="category_title">IT</h1>       
<div class="row">
    <div class="col-6">
        <img src="../../static/img/bi.jpg" alt="BI image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/bi">Business Inteligence</a></h3>
        <br>
    </div>
    <div class="col-6">
        <img src="../../static/img/prog.jpg" alt="Programming image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/prog">Programming</a></h3>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <img src="../../static/img/robotics.jpg" alt="Robotics image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/robotics">Robotics</a></h3>
        <br>
    </div>
    <div class="col-6">
        <img src="../../static/img/cryptography.jpg" alt="Cryptography image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/crypto">Cryptography</a></h3>
        <br>
    </div>   
</div>
<h1 class="category_title">Style</h1>  
<div class="row">
    <div class="col-6">
        <img src="../../static/img/art.jpg" alt="Art image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/art">Latest Art News</a></h3>
        <br>
    </div> 
    <div class="col-6">
        <img src="../../static/img/fashion.jpg" alt="Fashion image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/fashion" >Fashion News</a></h3>
        <br>
    </div> 
</div>
<h1 class="category_title">Entertainment</h1>  
<div class="row">
    <div class="col-6">
        <img src="../../static/img/books.jpg" alt="Books image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/books">Books News</a></h3>
        <br>
    </div> 
    <div class="col-6">
        <img src="../../static/img/movies.jpg" alt="Movies image" class="img-fluid tm-media-img" />
        <h3 class="text-centre"><a href="/movies">Movies News</a></h3>
        <br>
    </div> 
</div>
{% endblock content %}         